body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #222222;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 30px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

ul li {
	float: left;
	display: block;
	margin-left: 41px;
}

ul a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;	 
}

.titles__first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 175px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 38px;
}

.button {
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	background: #fed136;
	color: #484543;
	display: block;
	border-radius: 3px;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
}

.title {
	padding-top: 115px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	font-weight: 16px;
	text-align: center;
	color: #777777;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
	padding-bottom: 120px;
}

.services__item {
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.services__item p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#portfolio {
	background-color: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 75px;
}

.works img {
	float: left;
}

.works img:last-child {
	float: right;
}

.works img:nth-child(2) {
	margin-left: 30px;
}

.celebration {
	margin-top: 75px;
}

.celebration__item {
	
}

.celebration__item__title {
	width: 280px;
	text-align: right;
}

.celebration__item__title h3 {
	font-size: 18px;
	color: #222222;
	font-weight: bold;
}

.celebration__item__title p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}




